<p style='color: green'><%= notice %></p>

<h1>Most Favorite Book</h1>

<div id='fav-books'>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Author Name</th>
      <th>Category Name</th>
    </tr>
    <tr>
      <td><%= @book&.name%></td>
      <td><%= @book&.description %></td>
      <td><%= @book&.author.name%></td>
      <td><%= @book&.category.name%></td>
    </tr>
  </table>
</div>
